/* * BASIC LAYOUT FOR:
 * * Small viewports, over 375px wide
 * */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #070439;
  text-align: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.8em;
  margin-top: 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, sans-serif;
}

p {
  font-size: 1em;
  margin-bottom: 15px;
}

a {
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 4px;
  text-decoration: none;
  position: relative;
}

.icon-link::after {
  background: url("../../assets/icon-arrow.svg") no-repeat;
  background-size: auto;
  background-position: right 2px;
  height: 22px;
  width: 22px;
  top: 0;
  right: -22px;
  position: absolute;
  content: "";
  border-bottom: 1px solid #3c9f8f;
}

#wrapper {
  position: relative;
}

.col2, .col4 {
  margin: 35px;
}

.col2, .col4, .footer-top {
  max-width: 500px;
  margin: 0 auto;
}

.text, .image, #signup-footer {
  padding-left: 38px;
  padding-right: 38px;
}

header {
  padding: 13px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

header .logo {
  height: 25px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  margin-left: 20px;
  font-size: 0.9em;
}

#signup-hero {
  margin-top: 30px;
}

input, button {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  font-family: "Raleway", Helvetica, sans-serif;
  margin-bottom: 15px;
}

input {
  color: #070439;
  border: 1px solid #070439;
  font-size: 0.9em;
}

input::placeholder {
  color: #bfbfbf;
}

button {
  font-family: "Raleway", Helvetica, sans-serif;
  border: none;
  background: #3065f8;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.stay-productive::before {
  background: url("../../assets/bg-curve-mobile.svg") no-repeat;
  background-size: contain;
  height: 120px;
  width: 100%;
  top: -14vw;
  left: 0;
  position: absolute;
  content: "";
}

.stay-productive {
  position: relative;
  margin-top: 120px;
  background: #F9F8FE;
  padding-bottom: 80px;
}

.stay-productive .image {
  padding-top: 35px;
  padding-bottom: 65px;
}

.stay-productive .text p {
  text-align: left;
}

.testimonial {
  background: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 0.85em;
  line-height: 1.8;
  margin-top: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.quote::before {
  background: url("../../assets/icon-quotes.svg") no-repeat;
  background-size: contain;
  height: 10px;
  width: 20px;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
}

.quote {
  position: relative;
  padding-top: 15px;
  margin-bottom: 10px;
}

.attribution {
  display: flex;
  align-items: center;
}

.attr-avatar {
  height: 25px;
  border-radius: 50px;
  margin-right: 10px;
}

.attr-name, .attr-role {
  display: block;
  line-height: 1.5;
}

.attr-name {
  font-weight: 700;
  margin-top: 4px;
}

.attr-role {
  font-size: 0.8em;
}

.attribution p {
  margin: 0;
}

.early-access {
  background: #585989;
  color: white;
  padding: 45px 20px;
}

#signup-footer {
  padding: 10px 50px;
}

footer {
  background: #070439;
  color: white;
  padding: 60px 35px 0px 35px;
  text-align: left;
  font-size: 1.2em;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  border: none;
}

footer .logo path {
  fill: white;
}

footer .logo {
  margin-bottom: 30px;
}

.contact p {
  position: relative;
  margin-left: 45px;
  margin-bottom: 18px;
}

.contact p::before {
  margin-left: -45px;
  position: absolute;
}

.phone::before {
  content: url("../../assets/icon-phone.svg");
}

.email::before {
  content: url("../../assets/icon-email.svg");
}

.sitemap ul {
  list-style-type: none;
  padding: 0;
  margin: 45px 0 20px 0;
}

.sitemap ul li {
  margin-bottom: 15px;
}

.sitemap ul li:nth-of-type(4) {
  margin-bottom: 45px;
}

.social {
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 40px;
  font-size: 1em;
}

.social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  list-style-type: none;
  padding: 0;
}

.social ul a {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  margin-right: 15px;
  color: white;
  transition: 0.2s ease-in-out;
}

.social ul a li {
  margin-top: 3px;
}

.social ul a:last-of-type {
  margin-right: 0;
}

/* * RESPONSIVE CHANGES
 * */
@media screen and (min-width: 800px) {
  .col2, .col4, header, .footer-top {
    max-width: 1280px;
    margin: 0 auto;
  }

  input {
    font-size: 1em;
  }

  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 80px;
  }

  .stay-productive .col2 {
    grid-template-columns: 55% 1fr;
  }

  .stay-productive .col2 .text p {
    padding-right: 80px;
  }

  .col4 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    text-align: left;
    padding-right: 60px;
  }

  .image {
    padding-right: 38px;
    padding-left: 0px;
  }

  #signup-hero {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-gap: 15px;
  }

  .stay-productive::before {
    background: url("../../assets/bg-curve-desktop.svg") no-repeat;
    background-size: cover;
    height: 100px;
    top: -100px;
    left: 0;
  }

  .stay-productive {
    margin-top: 220px;
  }

  .icon-link::after {
    background-position: right 4px;
    height: 26px;
    width: 22px;
    top: 0;
    right: -22px;
  }

  .testimonial {
    width: 360px;
    padding-bottom: 20px;
  }

  .stay-productive .col2 .text .testimonial p {
    padding-right: 20px;
  }

  .attr-avatar {
    height: 35px;
  }

  .attr-name {
    margin-top: 0;
  }

  .early-access {
    padding: 80px 0;
  }

  .early-access .col2 {
    margin-top: 0;
    grid-gap: 5%;
  }

  #signup-footer {
    padding: 0 35px 0 0;
  }

  footer {
    margin: 0;
    font-size: 0.9em;
  }

  .sitemap ul {
    margin-top: 10px;
  }

  .social {
    padding-top: 0;
    margin: 0;
  }

  .social ul {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1050px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }

  h1, h2 {
    font-size: 2.3em;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.7;
  }

  header {
    padding-top: 60px;
  }

  header .logo {
    height: 50px;
  }

  nav ul li {
    margin-left: 60px;
    font-size: 1em;
  }

  #signup-hero {
    grid-template-columns: 1fr 200px 10px;
    padding-bottom: 15px;
  }

  #signup-footer {
    text-align: left;
    margin-top: 10px;
  }

  #signup-footer button {
    padding: 15px 30px;
    width: auto;
  }

  .early-access .col2 {
    grid-template-columns: 1fr 480px;
    grid-gap: 15%;
  }

  .col4 {
    grid-gap: 180px;
  }
}

/*# sourceMappingURL=styles.css.map */
