// STYLEGUIDE
$col-primary-dark: hsl(243, 87%, 12%)
$col-primary-light: hsl(238, 22%, 44%)
$col-accent-buttons: hsl(224, 93%, 58%)
$col-accent-links: hsl(170, 45%, 43%)
$col-neutral-light: hsl(240, 75%, 98%)
$col-neutral: hsl(0, 0%, 75%)

$font-stack-headings: 'Raleway', Helvetica, sans-serif
$font-stack-body: 'Open Sans', Helvetica, sans-serif
$font-weight-regular: 400
$font-weight-bold: 700
$font-size-base-sml: 13px
$font-size-base-lrg: 16px


/*
 * BASIC LAYOUT FOR:
 * Small viewports, over 375px wide
 */
*
  box-sizing: border-box
body
  margin: 0
  font:
    family: $font-stack-body
    weight: $font-weight-regular
    size: $font-size-base-sml
  line-height: 1.5
  color: $col-primary-dark
  text-align: center
img
  max-width: 100%
h1
  font-size: 1.8em
  margin-top: 25px
  margin-bottom: 20px
h2
  font-size: 1.2em
h1,h2,h3,h4,h5,h6
  font-family: $font-stack-headings
p
  font-size: 1em
  margin-bottom: 15px

#wrapper
  position: relative
.col2, .col4
  margin: 35px
.col2, .col4, footer
  max-width: 500px
  margin: 0 auto
.text, .image, #signup-footer
  padding-left: 38px
  padding-right: 38px

// HEADER
header
  padding: 13px 25px
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 70px
header .logo
  height: 25px
nav ul
  display: flex
  list-style-type: none
  padding-left: 0
nav ul li
  margin-left: 20px
  font-size: 0.9em

// FORM
#signup-hero
  margin-top: 30px
input, button
  width: 100%
  padding: 12px 20px
  border-radius: 4px
  font-family: $font-stack-headings
  margin-bottom: 15px
input
  color: $col-primary-dark
  border: 1px solid $col-primary-dark
  font-size: 0.9em
input::placeholder
  color: $col-neutral
button
  font-family: $font-stack-headings
  border: none
  background: $col-accent-buttons
  color: white
  font-weight: $font-weight-bold
  -webkit-box-shadow: 0px 3px 8px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 3px 8px rgba(0,0,0,0.2)
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2)

// STAY PRODUCTIVE SECTION
.stay-productive::before
  background: url("../../assets/bg-curve-mobile.svg") no-repeat
  background-size: contain
  height: 120px
  width: 100%
  top: -14vw
  left: 0
  position: absolute
  content: ""
.stay-productive
  position: relative
  margin-top: 120px
  background: #F9F8FE
  padding-bottom: 80px
.stay-productive .image
  padding-top: 35px
  padding-bottom: 65px
.stay-productive .text p
  text-align: left

a
  color: $col-accent-links
  border-bottom: 1px solid $col-accent-links
  padding-bottom: 4px
  text-decoration: none
  position: relative
.icon-link::after
  background: url("../../assets/icon-arrow.svg") no-repeat
  background-size: auto
  background-position: right 2px
  height: 22px
  width: 22px
  top: 0
  right: -22px
  position: absolute
  content: ""
  border-bottom: 1px solid $col-accent-links

// TESTIMONIAL
.testimonial
  background: white
  padding: 15px 25px
  border-radius: 4px
  font-size: 0.85em
  line-height: 1.8
  margin-top: 40px
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1)
.quote::before
  background: url("../../assets/icon-quotes.svg") no-repeat
  background-size: contain
  height: 10px
  width: 20px
  top: 0
  left: 0
  position: absolute
  content: ""
.quote
  position: relative
  padding-top: 15px
  margin-bottom: 10px
.attribution
  display: flex
  align-items: center
.attr-avatar
  height: 25px
  border-radius: 50px
  margin-right: 10px
.attr-name, .attr-role
  display: block
  line-height: 1.5
.attr-name
  font-weight: $font-weight-bold
  margin-top: 4px
.attr-role
  font-size: 0.8em
.attribution p
  margin: 0



@media screen and (min-width: 800px)
  .col2, .col4, header, footer
    max-width: 1280px
    margin: 0 auto
  .col2
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    margin-top: 80px
  .text
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    text-align: left
    padding-right: 60px
  .image
    padding-right: 38px
    padding-left: 0px
  #signup-hero
    display: grid
    grid-template-columns: 1fr 120px
    grid-gap: 15px



@media screen and (min-width: 1050px)
  body
    font-size: $font-size-base-lrg
    line-height: 1.6
  h1
    font-size: 2.3em
    margin-top: 0px
    margin-bottom: 5px
    line-height: 1.7
  header
    padding-top: 60px
  header .logo
    height: 50px
  nav ul li
    margin-left: 60px
    font-size: 1em
  #signup-hero
    grid-template-columns: 1fr 200px 10px
    padding-bottom: 15px
